.Content{
    border-top: 1px solid #d8d8d8;
}

.SidebarTemp{
    width: 30%;
    display: inline-block;
}
.WidthMaker1{
    display: inline-block;
    width: 25%;
}
.Items{
    margin-top: 82px;
    width: 53%;
    display: inline-block;
    border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    min-height: 560px;
    margin-bottom: 100px;
}

.FilterForm{
    text-align: center;
    background-color: #F7FAFC;
    border-bottom: 1px solid #d8d8d8;
}

.FilterDiv{
    display: inline-block;
    margin-bottom: 10px;
}
.FilterDiv button{
    border: none;
    border-radius: 4px;
    color: #565c61;
    background-color: #d3dae0;
    font-size: 12px;
    height: 2em;
    margin-right: 15px;
}
.FilterForm input{
    font-size: 12px;
    margin: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius:5px;
    padding-top: 3px; padding-bottom: 3px; padding-left: 6px;
}


.HeadDiv {
    height: 50px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    background-color: #F7FAFC;
    padding: 4px 10px  10px;
    border-bottom: 1px solid #e5e5e5;
}
.HeadDiv p{
    color:#8D99A6;
    /* font-size: 12px; */

}
.HeadDiv input{
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}
.HeadDiv Button{
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    height: 2em;
}

.Name , .Others , .ItemCode,.ItemCount{
    display: inline-block;
    width: 20%;
    overflow: hidden;
    margin-right: 10px;
    font: 13px Helvetica ;
    color: #36414C;
}
.ItemCount{
    width: 40%;
}
.Rate{
    float: right;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 10px 0px 0px;
}
.ItemsHeight{
    min-height: 400px;
}
.countDiv{
    border-top: 1px solid #d8d8d8;
    padding-top: 13px;
    padding-left: 20px;
    margin-bottom: 7px;
}
.MyNormal{
    border: none;
    background-color: #F0F4F7;
    color: #36414c;
    padding: 8px 12px;
    font-size: 12px;
    outline:none;
}
.countDiv button:focus{
    outline: none;
}
.MyFocus{
    border: none;
    background-color: #8D99A6;
    color: white;
    padding: 8px 12px;
    font-size: 12px;
    outline: 0;
}

@media(max-width:1700px){
    
    .SidebarTemp{
        width: 26%;
    }
    .Items{
        width: 60%;
    }
}
@media(max-width:1450px){
    .ItemCode{
        display: none;
    }
    .SidebarTemp{
        width: 27%;
    }
}
@media(max-width:1250px){
    .WidthMaker1{
        display: none;
    }
    
    .SidebarTemp{
        width: 20%;
    }
    .Items{
        width: 70%;
    }
}
@media(max-width:1000px){
    
    .SidebarTemp{
        width: 20%;
    }
    .Items{
        width: 70%;
    }
    
}
@media(max-width:900px){
    
    .SidebarTemp {
        width: 4%;
    }
    .Items{
        width:92%
    }
    
}

@media(max-width:700px){
    .Others {
        display: none;
    }
    .Name{
        width:30%
    }
    
}
@media(max-width:300px){
    .Others {
        display: none;
    }
    .Name{
        width:50%
    }
    .NameFilter , .GroupFilter{
        width:70%;
    }
    .FilterDiv{
        display: none;
    }
}

