.Home{
    border: 1px solid green;
    border-radius: 5px;
    display: inline-block;
    width: 53%;
    margin-top: 30px; 
    margin-bottom: 20px;
}
.HomeWrapper{
    padding-left:15px;
}
.MiniTitle ,.RowMiniTitle{
    margin-bottom: 19px;
    font-size: 14px;
    color: #8D99A6;
} 
.RowMiniTitle{
    margin-left: -10px;
}
.Shortcuts , .Records{
    padding-top: 20px;
    margin-bottom: 20px;
}
.ilkler,  .Cards{
    border:1px solid #d1d8dd;
    border-radius: 4px;
    padding: 15px;
   
    width:31%;
    display: inline-block;
    font-size:16px; font-weight:500;
    color:#36414c;

    margin-right: 15px;
    margin-bottom: 20px;   
}

.Cards{
    min-height: 250px;
    width:30.56% 
}
.Reports{
    margin-left: 15px;
}
.CardHeader{
    margin-left: 3px;
    margin-bottom: 7px;
}
.CardItem{
    color:#36414c;
    margin:9px 0px;
    font-size: 12px;
    padding-left: 2px;
}
.CardItem:hover{
    text-decoration:none;
}
.dots{
    font-size: 12px;
    font-weight: 500;
}
.dots div{
    display: inline-block;
    padding: 6px 12px;
}



@media(max-width:1700px){
   
    .Home{
        width: 65%;
    }
}

@media(max-width:1250px){
   
    .Home{
        width: 70%;
    }
}
@media(max-width:1130px){
   .ilkler {
       width: 47%;
   }
   .Cards{
       width: 46.16%;
   }
   
}
@media(max-width:1000px){
  
    .Home{
        width: 70%;
    }
    
}
@media(max-width:780px){
    
    .Home{
        width:92%
    }
    
}
@media(max-width:780px){
    .ilkler{
        width: 97%;
    }
    .Cards{
        width: 95%;
    }
}

