.Content{
    border-top: 1px solid #d8d8d8;
}

.Sidebar{
    width: 25%;
    display: inline-block;
}
.WidthMaker1{
    display: inline-block;
    width: 25%;
}
.Customers{
    width: 60%;
    display: inline-block;
    border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    height: 600px;
}

.FilterForm{
    text-align: center;
    background-color: #F7FAFC;
    border-bottom: 1px solid #d8d8d8;
}

.FilterDiv{
    display: inline-block;
    margin-bottom: 10px;
}
.FilterDiv button{
    border: none;
    border-radius: 4px;
    color: #565c61;
    background-color: #d3dae0;
    font-size: 12px;
    height: 2em;
    margin-right: 15px;
}
.FilterForm input{
    font-size: 12px;
    margin: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius:5px;
    padding-top: 3px; padding-bottom: 3px; padding-left: 6px;
}


.HeadDiv {
    height: 60px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 0px 10px;
    margin: 4px auto;
    box-sizing: border-box;
    background-color: #F7FAFC;
}
.HeadDiv p{
    color:#8D99A6;
    /* font-size: 12px; */

}
.HeadDiv input{
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}
.Name , .Others , .Workers{
    display: inline-block;
    width: 20%;
    overflow: hidden;
    margin-right: 10px;
    font: 13px Helvetica ;
    color: #36414C;
}
.Rate{
    float: right;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 10px 0px 0px;
}
.HeadDiv{
    padding: 10px 10px 15px 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.Text1{
    display:inline-block;
    margin-left: 10px;
}

.Missing{
    margin-left: 25px;
}
.Missing ul{
    margin-top: 15px;
}
.HeadDiv Button{
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    height: 2em;
}

.CloseBtn{
    float: right;
}

@media(max-width:1450px){
    .Workers{
        display: none;
    }
}
@media(max-width:1250px){
    .WidthMaker1{
        display: none;
    }
}
@media(max-width:1000px){
    .Sidebar{
        width: 10%;
    }
    .Customers{
        width: 80%;
    }
    
}

@media(max-width:700px){
    .Others {
        display: none;
    }
    .Name{
        width:30%
    }
    
}
@media(max-width:300px){
    .Others {
        display: none;
    }
    .Name{
        width:50%
    }
    .NameFilter , .WorkerFilter{
        width:70%;
    }
    .FilterDiv{
        display: none;
    }
}

