.Toolbar {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F5F7FA;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #d8d8d8;
}
.Random1 , .Random0{
    width: 10%;
}
.ToolbarText , .ToolbarText0{
    color:#8d99a6;
    font-weight: 600;
    font-size: 12px;
}

.Toolbar nav {
    height: 100%;
}

.Searchbar input[type=search] {
    float: right;
    padding: 4px;
    border:1px solid #d8d8d8;
    border-radius: 6px;
    margin-top: 0px;
    margin-right: 16px;
    font-size: 14px;
    width: 25em;
  }
.Searchbar input[type=text]:focus {
    outline: none;
    box-shadow:  0px 0px 3px gray;
}
.Searchbar{
   margin-left: auto;
   margin-right: 30px;
}
.Logo {
   height: 70%;
   margin-left: 3em;
}
.Bars{
    display: none;
}
.Bars :hover{
    color:#36414c;
}


@media (max-width: 1250px) {
    .Random0{
        width: 0%;
    }
    .Logo{
        margin-left: 1.5em;
    }
}

@media (max-width: 950px) {
    .Random1{
        width: 7%;
    }
    .Searchbar {
        width: 1%;
        visibility: hidden;
    }
    
}
@media (max-width: 770px) {
    .Toolbar{
        padding-left: 4px;
    }
    .Logo , .ToolbarText0{
        display: none;
    }
    
    .Bars{
        display: inline-block;
    }
    .Random1{
        width: 0;
    }
}
@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
@media (max-width:400px){
    .DesktopOnly {
        display: none;
    }
    .ToolbarText{
        display: none;
    }
}