.Customer {
    border: 1px solid #eee;
    box-shadow: 0 2px 1px #ccc;
    padding: 0px 10px;
    margin: 4px auto;
    box-sizing: border-box;
}
.Customer input{
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    height: 10px;
}
.Name , .Others{
    display: inline-block;
    width: 20%;
    overflow: hidden;
    margin-right: 10px;
    font: 13px Helvetica ;
    color: #36414C;
}


.Customer button{
    border: 1px solid gray;
    border-radius: 2px;
    background-color: rgba(24, 161, 216, 0.966);
    color:white;
    float: right;
    margin-top: 12px;
    margin-right: 5px;
}

@media(max-width:700px){
    .Others {
        display: none;
    }
    .Name{
        width:20%
    }
    
}
@media(max-width:300px){
    .Others {
        display: none;
    }
    .Name{
        width:50%
    }
    .Customer button{
        display: none;
    }
    
}