.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    left: calc(30%);
    top: -170px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (max-width: 1500px) {
    .Modal {
        width: 60%;
        left: calc(20%);
    }
}
@media (max-width: 900px) {
    .Modal {
        width: 90%;
        left: calc(5%);
    }
}