.Item {
    border: 1px solid #eee;
    box-shadow: 0 2px 1px #ccc;
    padding: 0px 10px;
    margin: 4px auto;
    box-sizing: border-box;
}
.Input{
    float: left;
    margin-top: 16px;
    margin-right: 10px;
    height: 10px;
}
.Name , .Others , .Workers{
    display: inline-block;
    width: 20%;
    overflow: hidden;
    margin-right: 10px;
    font: 13px Helvetica ;
    color: #36414C;
}



.Buttons{
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: rgba(24, 161, 216, 0.966);
    color:white;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
}

p{
    /* display: inline; */
    margin-top: 14px;
    margin-bottom: 7px;
}

.MyIcon{
    float: right;
    display: none;
}

@media(max-width:1450px){
    .Workers{
        display: none;
    }
}

@media(max-width:700px){
    .Others {
        display: none;
    }
    .Name{
        width:20%
    }
    
}
@media(max-width:550px){
    .Others {
        display: none;
    }
    .Name{
        width:20%
    }
    .MyIcon{
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
    }
    .Buttons{
        display: none;
    }
    
}
@media(max-width:300px){
    .Others {
        display: none;
    }
    .Name{
        width:50%
    }
    .Item button{
        display: none;
    }
    
}