.Form {
    margin: 10px 0px;
    width: 100%;
}
.HeadDiv{
    padding: 10px 10px 15px 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.HeadDiv Button{
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    height: 2em;
}
.Text1{
    display:inline-block;
    margin-left: 10px;
}

.SaveBtn{
    float: right; 
    background-color: #5e64ff;
    color: white;
}

.CloseBtn{
    float: right;
}

@media(max-width:800px){
    .CloseBtn{
        display: none;
    } 
}

