.Header{
    z-index: 80;
    margin-bottom: 14px;
}
h2{
    font-weight: 500;
    color: #36414c;
    font-size: 25px;
}
.TempDiv{
    display: inline-block;
    width: 15%;
}
.First{
    display: inline-block;
    width: 30%;
    text-align: left;
}
.Buttons{
    float: right;
    margin-right: 9em;
}
.Buttons .First2,.NewBtn{
    margin: 4px;
    padding: 3px 10px;
    padding-bottom: 4px;
    border: none;
    border-radius: 3px;
    height: 2em;
    font-size: 12px;
    background-color: #F0F4F7;
}

.NewBtn{
    background-color: #5e64ff;
    color: white;
}

.DropBtn{
    display: inline-block;
}
.DropBtn button{
    margin: 4px;
    padding: 3px 10px;
    padding-bottom: 4px;
    border: none;
    border-radius: 3px;
    height: 2em;
    font-size: 12px;
    background-color: #5e64ff;
    color: white;
}

@media(max-width:1300px){
    .Buttons{
        margin-right: 7em;
    }
}
@media(max-width:100px){
    .Buttons{
        margin-right: 5em;
    }
}
@media(max-width:770px){
    .TempDiv{
        width: 0;
    }
    .First{
        margin-left:1em;
    }
    h2{
        font-weight: 500;
        font-size: 18px;
    }
    .Buttons{
        margin-right: 1em;
    }
    
}