.Header{
    height: 71px;
    width: 100%;
    position: fixed;
    top: 40px;
    background-color: #ffffff;
    padding: 18px 0px 5px 0px;
    z-index: 100;
    border-bottom: 1px solid #d8d8d8;
}
h2{
    font-weight: 500;
    color: #36414c;
    font-size: 25px;
}
.TempDiv{
    display: inline-block;
    width: 15%;
}
.First{
    display: inline-block;
    width: 30%;
    /* text-align: left; */
}
.Buttons{
    float: right;
    margin-right: 12em;
    outline:none;
}
.Buttons .First2,.NewBtn{
    margin: 4px;
    padding: 3px 10px;
    padding-bottom: 4px;
    border: none;
    border-radius: 3px;
    height: 2em;
    font-size: 12px;
    background-color: #F0F4F7;
}

.NewBtn{
    background-color: #5e64ff;
    color: white;
}

.DropBtn{
    display: inline-block;
}
.DropBtn button{
    margin: 4px;
    padding: 3px 10px;
    padding-bottom: 4px;
    border: none;
    border-radius: 3px;
    height: 2em;
    font-size: 12px;
    background-color: #5e64ff;
    color: white;
}

@media(max-width:1540px){
    .TempDiv{
        width:13%;
    }
}
@media(max-width:1440px){
    .Buttons{
        margin-right: 10em;
    }
    .TempDiv{
        width:14.5%;
    }
}
@media(max-width:1300px){
    .Buttons{
        margin-right: 7em;
    }
}
@media(max-width:1250px){
    .TempDiv{
        width: 4%;
    }
}
@media(max-width:1000px){
    .Buttons{
        margin-right: 5em;
    }
}
@media(max-width:900px){
    .Buttons{
        margin-right: 2em;
    }
    h2{
        font-weight: 500;
        font-size: 22px;
    }
}
@media(max-width:770px){
    .TempDiv{
        width: 0;
    }
    .First{
        padding-top:7px;
        margin-left:1em;
    }
    h2{
        font-weight: 500;
        font-size: 18px;
    }
    .Buttons{
        margin-right: 1em;
    }
    
}