.Shortcuts{
    text-align: center;
}
.Shortcuts div{
    text-align: initial;
    border:1px solid gray;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: auto;
    width: 250px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;   
}

.SearchBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

